
<li class="list-group-item d-flex justify-content-between align-items-center">

    {{id}} . {{burger_name}}

    {{#unless devoured}}
        <button class="devourBtn btn-sm btn-outline-warning" data-id="{{id}}">
            Devour me!
        </button>
    {{else}}
        <button class="clearBtn btn-sm btn-outline-primary" data-id="{{id}}">   
            Clear
        </button>   
    {{/unless}}

</li>
